#!/bin/sh
exec 2>&1
{% if djbware_daemontools_encore_service_coredump -%}
ulimit -c unlimited
{% endif -%}
exec envuidgid {{ djbware_daemontools_encore_service_user }} \
  {% if (djbware_daemontools_encore_service_setuidgid|bool) -%}
  setuidgid {{ djbware_daemontools_encore_service_user }} \
  {% endif -%}
  {% if (djbware_daemontools_encore_service_memorylimit|int > 0) -%}
    softlimit -d{{ djbware_daemontools_encore_service_memorylimit|int }} \
  {% endif -%}
      envdir ./env /bin/sh -c 'exec \
            {{ djbware_daemontools_encore_service_executable }} \
'
