WEBPASSWORD=85bd855d85d9a1ba746dbc7a67c0cf336897181410d91950d94ba5ac5b552d31
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-light
TEMPERATUREUNIT=C
ADMIN_EMAIL={{ pihole_base_admin_email }}
BLOCKING_ENABLED=true
IPV4_ADDRESS={{ pihole_base_ipv4_address }}
IPV6_ADDRESS={{ pihole_base_ipv6_address }}
PIHOLE_INTERFACE=eth0
PIHOLE_DNS_1={{ pihole_base_dns_1 }}
PIHOLE_DNS_2={{ pihole_base_dns_2 }}
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
