#!/bin/sh

DESTINATION="{{ system_packages_to_upgrade_location }}"

APTLINE=$(/usr/bin/apt -q -q --no-act upgrade 2>/dev/null | grep "newly install")
NUMBERS=$(echo "${APTLINE}" | sed 's/^\([0-9][0-9]*\).*\([0-9][0-9]*\).*\([0-9][0-9]*\).*\([0-9][0-9]*\).*$/\1:\2:\3:\4/g')

s_upgrade=$(echo "${NUMBERS}" | cut -d: -f1)
s_new=$(echo "${NUMBERS}" | cut -d: -f2)
s_remove=$(echo "${NUMBERS}" | cut -d: -f3)
s_no_upgrade=$(echo "${NUMBERS}" | cut -d: -f4)

cat >"${DESTINATION}" <<EOF
upgrade_required_upgrade ${s_upgrade}
upgrade_required_new ${s_new}
upgrade_required_remove ${s_remove}
upgrade_required_no_upgrade ${s_no_upgrade}
EOF
