# sample line:  1.2.3.4:allow,AXFR="heaven.af.mil/3.2.1.in-addr.arpa"

# Self may grab everything
127.0.0.1:allow

# Allow list
{% set allow_list = [] %}
{% for src in djbware_tinydnssec_axfr_allow_list|default([]) %}
{%-   if src is defined and src -%}
{%-     for resolved in query('local.unwesen.safe_dig', src, qtype='A') %}
{{       allow_list.append((resolved, src)) }}
{%-     endfor %}
{%-     for resolved in query('local.unwesen.safe_dig', src, qtype='AAAA') %}
{{       allow_list.append((resolved, src)) }}
{%-     endfor %}
{%-   endif -%}
{% endfor %}
{% for resolved, src in allow_list|unique %}
{%   if resolved is defined and resolved %}
{%     if src == resolved %}
{{ resolved }}:allow
{%     else %}
{{ resolved }}:allow,SRC="{{ src }}"
{%     endif %}
{%   else %}
# Could not resolve (A or AAAA): {{ src }}
{%   endif %}
{% endfor %}

# Allow from everywhere??
# :allow

# Deny everything else
:deny
