<IfModule mod_evasive20.c>
    DOSHashTableSize    3097
    DOSPageCount        120
    DOSPageInterval     1
    DOSSiteCount        500
    DOSSiteInterval     1
    DOSBlockingPeriod   10

    DOSEmailNotify      {{ service_apache_notification_email }}
    #DOSSystemCommand    "su - someuser -c '/sbin/... %s ...'"
    #DOSLogDir           "/var/log/mod_evasive"
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
