# No SSL versions allowed, only TLS
SSLProtocol +TLSv1.2 +TLSv1.3

# Cipher suites
SSLHonorCipherOrder on
SSLCipherSuite {{ service_apache_ssl_cipher_suites|join(':') }}

# Additional flags according to https://httpd.apache.org/docs/trunk/ssl/ssl_howto.html
SSLCompression off
SSLSessionTickets off

# OCSP stapling
SSLStaplingCache shmcb:${APACHE_RUN_DIR}/ssl_stapling_cache(128000)

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
