[[inputs.tail]]
  files = ["/var/log/apache2/{{ service_apache_vhost_hostname }}_access.log"]
  from_beginning = false
  grok_patterns = ["%{PROMETHEUS_COMBINED_LOG_FORMAT}"]
  name_override = "apache_access_log"
#  grok_custom_pattern_files = []
  grok_custom_patterns = '''
PROMETHEUS_COMMON_LOG_FORMAT %{CLIENT:client_ip:tag} %{NOTSPACE:ident:tag} %{NOTSPACE:auth:tag} \[%{HTTPDATE:ts:ts-httpd}\] "(?:%{WORD:verb:tag} %{NOTSPACE:request:tag}(?: HTTP/%{NUMBER:http_version:float})?|%{DATA})" %{NUMBER:resp_code:int} (?:%{NUMBER:resp_bytes:int}|-)
PROMETHEUS_COMBINED_LOG_FORMAT %{PROMETHEUS_COMMON_LOG_FORMAT} "%{DATA:referrer:tag}" "%{DATA:agent:tag}"
  '''
  grok_timezone = "Local"
  data_format = "grok"
  [inputs.tail.tags]
    vhost="{{ service_apache_vhost_hostname }}"
