<VirtualHost *:80>
	ServerName {{ service_apache_vhost_hostname }}
	ServerAdmin {{ service_apache_vhost_admin_email }}
{% if service_apache_vhost_aliases|length %}
	ServerAlias {{ service_apache_vhost_aliases|join(' ') }}
{% endif %}

	# Redirect to HTTPS is handled by mod_md

	# Enable HTTP/2 with 1.1 fallback.
	Protocols h2 http/1.1
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
