# Query given DNS server and gives statistics
[[inputs.dns_query]]
  ## XXX slow interval
  interval = "{{ system_monitoring_telegraf_slow_collection_interval }}"

  ## servers to query
  servers = {{ dns_djb_authoritative_probe_servers }}

  ## Network is the network protocol name.
  network = "udp"

  ## Domains or subdomains to query.
  domains = {{ dns_djb_authoritative_probe_zones }}

  ## Query record type.
  ## Possible values: A, AAAA, CNAME, MX, NS, PTR, TXT, SOA, SPF, SRV. 
  record_type = "SOA"

  ## Dns server port.
  # port = 53

  ## Query timeout
  # timeout = "2s"

  ## Include the specified additional properties in the resulting metric.
  ## The following values are supported:
  ##    "first_ip" -- return IP of the first A and AAAA answer
  ##    "all_ips"  -- return IPs of all A and AAAA answers 
  # include_fields = []
