# /etc/anacrontab: configuration file for anacron

# See anacron(8) and anacrontab(5) for details.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
HOME=/root
LOGNAME=root

# When anacron is used (for daily/weekly/etc tasks), nullmailer still needs to be
# configured.
NULLMAILER_USER={{ system_crontab_sender_user|trim }}
NULLMAILER_HOST={{ system_crontab_sender_host|trim }}
NULLMAILER_FLAGS=s

MAILTO={{ system_crontab_notification_email|trim }}

# Example of job definition:
# .---------------------- period (days)
# |  .------------------- delay (minutes)
# |  |  .---------------- job identifier (for logging, timestamp)
# |  |  |    .----------- command
# |  |  |    |
# 1  5  foo  do_foo
1          5  cron.daily    /opt/bin/crontools run_parts --attempts {{ system_crontab_attempts }} /etc/cron.daily
7         10  cron.weekly   /opt/bin/crontools run_parts --attempts {{ system_crontab_attempts }} /etc/cron.weekly
@monthly  15  cron.monthly  /opt/bin/crontools run_parts --attempts {{ system_crontab_attempts }} /etc/cron.monthly
