# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Largely for hourly runs, which are only executed by cron, not anacron
NULLMAILER_USER={{ system_crontab_sender_user|trim }}
NULLMAILER_HOST={{ system_crontab_sender_host|trim }}
NULLMAILER_FLAGS=s

MAILTO={{ system_crontab_notification_email|trim }}

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
17 *	* * *	root	cd / && /opt/bin/crontools run_parts --attempts {{ system_crontab_attempts }} /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && /opt/bin/crontools run_parts --attempts 3 /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && /opt/bin/crontools run_parts --attempts 3 /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && /opt/bin/crontools run_parts --attempts 3 /etc/cron.monthly )
#
