#!/bin/sh

echo "# TYPE exec_sh counter"
echo "# HELP exec_sh Metadata about inputs.exec"

for script in "{{ system_monitoring_telegraf_exec_d_path }}"/* ; do
  /usr/bin/test -x "${script}" || continue
  /bin/sh "${script}"
  status="$?"
  echo 'rcode{script="'"${script}"'"} '$status
done

echo "# EOF"
