#!/bin/sh

echo "# TYPE upgrade_required_upgrade counter"
echo "# HELP upgrade_required_upgrade Packages to upgrade"

echo "# TYPE upgrade_required_new counter"
echo "# HELP upgrade_required_new Packages to newly install"

echo "# TYPE upgrade_required_remove counter"
echo "# HELP upgrade_required_remove Packages to remove"

echo "# TYPE upgrade_required_no_ugrade counter"
echo "# HELP upgrade_required_no_ugrade Packages not to upgrade"

test -f "{{ system_packages_to_upgrade_location }}" && cat "{{ system_packages_to_upgrade_location }}"
