[client]
user=root
password="{{ db_mariadb_root_password|default('') }}"
host="*"

[mysql]
user=root
password="{{ db_mariadb_root_password|default('') }}"

[mysqldump]
user=root
password="{{ db_mariadb_root_password|default('') }}"

[mysqldiff]
user=root
password="{{ db_mariadb_root_password|default('') }}"
