#!/bin/sh

exec nice -n19 \
  /usr/local/bin/ansible-pull \
    -U "{{ ansible_pull_repo }}" \
    --key-file /etc/ansible/keys/deploy \
    --inventory "{{ ansible_pull_inventory }}" \
    --limit "{{ ansible_pull_limit }}" \
    "{{ ansible_pull_playbook }}"
