#!/bin/sh

nice -n19 \
  /usr/local/bin/ansible-pull \
    -U "{{ ansible_pull_repo }}" \
    --key-file /etc/ansible/keys/deploy \
    --inventory "{{ ansible_pull_inventory }}" \
    --limit "{{ ansible_pull_limit }}" \
    -o \
    "{{ ansible_pull_playbook }}"

ret="$?"

# Status 250 means the repo hasn't changed, so we can treat this as success.
test "$ret" = 250 && ret=0
exit "$ret"
