[DEFAULT]
findtime = 1h
bantime = 1d
maxretry = 3

sender = fail2ban-<fq-hostname>@{{ system_security_fail2ban_notification_sender_domain }}
destemail = {{ system_security_fail2ban_notification_email }}

banaction = ufw[blocktype=deny]

{% if system_security_fail2ban_ignoreip is defined %}
ignoreip = {{ system_security_fail2ban_ignoreip }}
{% endif %}

# Backend overrides

# FIXME in template, only activate this on appropriate systems
sshd_backend = systemd
