# Telegraf needs to run the fail2ban-client to get status from it
Cmnd_Alias FAIL2BAN = {{ python_venv_basedir }}/{{ system_security_fail2ban_venv}}/bin/fail2ban-client status, {{ python_venv_basedir }}/{{ system_security_fail2ban_venv}}/bin/fail2ban-client status *, {{ python_venv_basedir }}/{{ system_security_fail2ban_venv}}/bin/fail2ban-client banned
telegraf  ALL=(root) NOEXEC: NOPASSWD: FAIL2BAN
Defaults!FAIL2BAN !logfile, !syslog, !pam_session
