# Read metrics from fail2ban.
[[inputs.fail2ban]]
  ## XXX slow interval
  interval = "{{ system_monitoring_telegraf_slow_collection_interval }}"

  ## Use sudo to run fail2ban-client
  use_sudo = true

  ## Use the given socket instead of the default one
  # socket = "/var/run/fail2ban/fail2ban.sock"
